/* Reseta o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico do corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Navegação */
nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo das seções */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    flex-grow: 1; /* Isso garante que o conteúdo ocupe o espaço disponível */
}

section h2 {
    margin-bottom: 15px;
    font-size: 2em;
}

section p {
    font-size: 1.2em;
}

/* Estilo de lista */
ul {
    margin-top: 10px;
    font-size: 1.1em;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    width: 100%;
}